:root {
    --blue-gray:#728CA3;
    --blue-sea:#73C0F4;
    --very-light-blue:#E6EFF3;
    --yellow-sand:#F3E4C6;
    --brown-mid:#8F4F06;
    --white: #fff;
    --black: #333;
    --text-input-field: #f7f7f7;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --x-lg: 24px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.header-index {
    height: 100vh;
}
body {
    font-family: 'Lexend', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;;
    justify-content: center;
}
header, main, footer {
    width: 320px;
}
.block {
    background-color: var(--very-light-blue);
    border-radius: 16px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    margin: 0 0 14px 0;
    color: var(--black);
}
header h1 {
    font-size: var(--x-lg);
    color: var(--blue-sea);
    margin-bottom: 12px;
    font-weight: bold;
}
.block .nav-header ul {
    height: 200px;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: space-around;
}
.nav-header ul li{
    text-decoration: none;
    margin-bottom: 18px;
    list-style: none;
    text-align: right;
    font-size: var(--md);
    color: var(--blue-gray);
}
.nav-header ul li a{
    color: var(--blue-gray);
    text-decoration: none;
}
.nav-header ul li a:hover{
    cursor: pointer;
    color: var(--brown-mid);
}
.labels {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.input input {
    margin-bottom: 8px;
    background-color: var(--text-input-field);
    width: 200px;
    height: 24px;
    border-radius: 16px;
    border: 1px solid var(--blue-gray);
    color: var(--black);
    padding: 4px;
}
.calculate {
    display: flex;
    justify-content: space-evenly;
}
.calculate button {
    margin-bottom: 8px;
    background-color: var(--blue-sea);
    width: 100px;
    height: 24px;
    border-radius: 16px;
    border: none;
    color: var(--white);
}
.calculate button:hover {
    background-color: var(--brown-mid);
    cursor: pointer;
}
.calculate > p {
    width: 100px;
}
footer {
    margin-top: 12px;
}
footer p{
    font-size: var(--sm);
    color: var(--blue-gray);
    font-weight: 300;
}